.card-body {
  font-size: auto;
  max-block-size: 500px;
  background-color:#B4C6A6;
  max-width: fit-content;
  padding:5px;
}

.card-title{
  font-size: medium;
}

.card-subtitle{
  padding: 3px;
  }

img{
  width : 380px;
  height:400px;
  border: 3px solid black;
}